* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,  #F3F3E0, #CBDCEB);
    min-height: 100vh;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 100vh;
    margin-top: 20px;
    box-shadow: 13px 14px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.container:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.logo {
    background: url('images/logo.png') ;
    width: 60px;
    margin: 30px 0px;
    animation: logoEntrance 2s ease forwards;
}

@keyframes logoEntrance {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.signup-form {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #fff;
    padding: 40px;
    flex-direction: column;
}

.signup-form h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards 1;
    animation-delay: 0.5s;
    margin-bottom: 40px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    color: #133E87
}

input, select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #CBDCEB;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

input:focus, select:focus {
    border: 2px solid #608BC1;
    outline: none;
}

#role {
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #CBDCEB;
    border-radius: 5px;

}

#role:focus {
    border: 2px solid #608BC1;
    outline: none;
}

.btn-container {
    display: flex;
    gap: 10px; /* space between buttons */
    justify-content: center; /* centers buttons horizontally */
    align-items: center;
}

.btn {
    
    width: 30%;
    padding: 15px;
    background: linear-gradient(135deg, #133E87, #608BC1);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    text-align:center;
}

.btn:hover {
    transform: scale(1.02);
    background: linear-gradient(135deg, #133E87, #00509d);
}


.image-section {
    width: 50%;
    height: 500px;
    background:center center / cover no-repeat !important;
    /* background-color: #FFFFFF; */
}

.illustration{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.illustration-img {
    animation: scalePulse 5s ease forwards 1;
}

@keyframes scalePulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}